<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for( let i = 0; i < category.length; i++ ) { %>
      <tr>
        <td> <%= i + 1 %> </td>
        <td> <%= category[i].name %> </td>
        <td>
          <a href="/category/edit/<%=category[i]._id%>">
            <button class="btn btn-primary">
              <i class="fa fa-pencil-alt mr-1"></i>
              Edit
            </button>
          </a>
        </td>
        <td>
          <form action="/category/delete/<%=category[i]._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger">
              <i class="fa fa-trash-alt mr-1"></i>
              Delete
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tfoot>
</table>